@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

$pink-clr-1: rgb(206, 164, 146);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display';
}


a {
    text-decoration: none;
}

a:hover, 
a:focus {
    text-decoration: none;
}

.main_container {
    width: 80%;
    margin: 0 auto;
}

@media screen and (max-width: 810px){
    .main_container {
        width: 100%;
    }
}

// MODAL 

.modal_close_btn {
    position: absolute !important;
    right: 20px !important;
    top: 20px;
}

.indicator-item.active {
    background: #33333390 !important;
}

.indicator-item {
    width: 12px !important;
    height: 12px !important;
    background: silver;
}

// carousel

.carousel_container {
    position: relative;
}

.carousel_prev_next {
    position: absolute;
    top: 47%;
    cursor: pointer;
}

.carousel_previous_btn {
    left: 0;
}

.carousel_next_btn {
    right: 0;
}